.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 131px);
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
.consultButton{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 600px;
    max-height: 200px;

    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 30px;

    height: auto;

    transition: background-color 0.3s ease;

    padding: 10px 0px;

}
.consultButton:hover{
    background-color: rgb(0, 0, 0);
    .text > h1{
        color: white;
    }
    .text > h2{
        color: white;
    }
}
.text{
    padding: 20px 40px;
}