:root {
  font-family: 'Roboto', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #root {
    height: 100%;
    margin: 0;

    
}
h1{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 5px;
    
}
h2{
    color: rgb(87, 87, 87);
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
}
h3{
  font-weight: 400;
}
a{
  font-weight: 100;
  text-decoration: none;
}