.vehicleBlock{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    width: 600px;
    min-height: 500px;

    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(87, 87, 87);
    padding-bottom: 30px;
}
.vehicleImageContainer{
    padding: 20px;
}
.vehicleImageContainerContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vehicleImageContainerContent > img{
    width: 70%;
    height: 100%;
    object-fit: contain;
    border-radius: 30px;
}

.vehicleInfo{
    display: block;
    margin: 0px;
    margin-left: 50px;
    justify-items: start;
    height: auto;
}
.vehicleInfo > h2{
    color: black;
    font-size: 35px;
    margin: 0px;
}
.vehicleInfo > h3{
    color: gray;
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
}
.vehiclePrice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: auto;

    color: black;
    padding-bottom: 0px;
}
.vehiclePrice > h2{
    font-size: 45px;
    margin-top: 0px;
}
